body{
    background-color: white;
}
#header{
    background: url(./images/header-background.png);
    background-size: cover;
    max-height: 40rem;
}
a:link , .a:active, a:visited  {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
img{
    width: 100%;
}
#menu{
    margin-top: 5rem ;
}
.card{
    border: none;
}
#our-story{
    background-color: #212428;
}
#discount{
    margin-top: 5rem;
}
#order{
    margin-top: 10rem;
    background: url(./images/header-background.png);
    background-size: cover;
    max-height: 80rem;
}
#awards{
    margin-top: 15rem;
}
.awards_description{
    margin-top: 5rem;
}
.order_pizza-pic{
    position: relative;
    bottom: 50rem;
}
#order>.container>.row{
    padding: 10rem 0;
}
#subscibtion{
    margin-top: 10rem;
    background-color: #212428;
    max-height: 60rem;
}
.subscibtion-image{
    position: relative;
    bottom: 40rem;
}
.subscription-row{
    padding-top:20rem
}
.social_medias-icon{
    background-color: #212428;
    border: none;
    border-radius: 10rem ;
    color: white;
}
#footer{
    margin: 20rem 0;
}
