*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
a:link , .a:active, a:visited  {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
#header{
    background: url(./images/header-background.png);
    background-size: cover;
    max-height: 900px;
}
.readmore-btn{
    border-radius: 10rem;
}
.logo_typo{
    width: 100%;

}
.header_pasta{
    width: 100%;
    height: 100%;
    top: 6rem;
    position: relative;
}
#menu{
    margin-top: 5rem ;
    color: black;
}
.card{
    border: none;
}
.menu_items-showmore-button{
    margin-top: 5rem ;
    border-radius: 10rem;
}
#our-story{
    margin-top: 5rem;
    background-color: #1a1f23;
}
.discount_card-img{
    width: 80%;
}
#order{
    background: url(./images/header-background.png);
    background-size: cover;
    max-height: 900px;
    margin-top: 10rem;
}
.order_background{
    position: relative;
    bottom: 30rem;
}
#awards{
    margin-top: 20rem;
}
#subscription{
    background-color: #1a1f23;
    margin-top: 10rem;
}
.subscription_card{
    max-height: 40rem;
    margin-top: 20rem;
}
.subsciption_image{
    position: relative;
    bottom: 40rem;
}
.row_subscription{
    max-height: 40rem ;
}
#footer{
    margin-top: 10rem;
   height: 20rem;
}
.header_search-icon{
    position: absolute;
    right: 1rem;
}
.subsciption_search-icon{
    position: absolute;
    right: 43rem;
}
