*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

#header{
    background: url(./images/header-background.png);
    max-height: 920px;
    width: 100%;
}
#header_home > div{
    color: white;
}
.nav-link{
    font-size: 1.8rem;
    font-weight: normal;
    font-weight: bold;
    color: white;

}
a:link , .a:active, a:visited  {
    text-decoration: none;
}
.header_info{
    margin-top: 6rem;
}
.header_pasta{
    width: 100%;
}
.header_logo-description{
    max-height: 720px;
}
.logo{
    width: 20rem;
    height: 18rem;
}
.readmore-btn{
    height: 5rem;
    border-radius: 10rem;
}
#menu{
    margin-top: 5rem;
}
#menu > p, #menu>div{
    color: #272727;
}
.card{
    border: none;
}
.menu_items{
    margin-top: 10rem;
}
.menu_items-showmore-button{
    border-radius: 10rem;
    height: 6rem;
}
#our_story{
    max-height: 90rem;
    background-color: #1a1f23;
    margin-top: 10rem;
}
.story_logo{
    width: 75rem;
    height: 100%;
}
.story > p{
    color: white;
}
#discounts{
    margin-top: 10rem;
}
.discount_buttom{
    background-color: #1a1f23;
    color: white;
    border-radius: 10rem;
    height: 7rem;
}
#order{
    background: url(./images/header-background.png);
    height: 1020px;
    width: 100%;
    margin-top: 10rem;
}
#order>div{
    color: white;
}
.order_background{
    position: relative;
    bottom: 40rem;
}
#awards{
    margin-top: 25rem;
    margin-bottom: 20rem;
}
#awards > p {
    margin-top: 5rem ;
    text-align: center;
}
#subscription{
    height: 920px;
    background-color: #1a1f23;
}
#subscription>img{
    position: relative;
    bottom: 80rem;
}
.subscription_card{
    height: 70%;
    width: 50%;
}
.input-group{
    height: 5rem;
}
#footer{
    height: 920px;
}
.about>a , .services>a , .other>a{
    color: #272727;
}
